$gray-light: #bbb;

.hidden {
  display: none
}

.detailBox {

  border:1px solid $gray-light;
  margin:50px;

  .alert {
    margin-top: 10px;
    font-size: 0.8em;
    opacity: 0.7;
  }

  .titleBox {
    background-color:#fdfdfd;
    padding:10px;
    label{
      color:#444;
      margin:0;
      display:inline-block;
    }
  }

  .commentBox {
    padding:10px;
    border-top:1px dotted $gray-light;
    
    button {
      width: 100%
    }
  
    .form-group {
      &:first-child {
        width:80%;

        &:nth-child(2) {
          width:18%;
        }
      }
    }
  }

  .actionBox {

    border-top:1px dotted $gray-light;
    padding:10px;

    .commentList {
      padding:0;
      list-style:none;
      overflow:auto;

      li {
        margin:0;
        margin-top:10px;

        &> div {
          display:table-cell;
        }

        .commenterImage {
          width:30px;
          margin-right:5px;
          height:100%;
          float:left;

          img {
            width:100%;
            border-radius:50%;
          }
        }

        .commentText {
          p {
            margin:0;
          }

          .sub-text {
            color:#aaa;
            font-family:verdana;
            font-size:11px;
          }

        } 
      }
    }

    .form-group {
      &:first-child {
        width:80%;
        &:nth-child(2) {
          width:18%;
        }
      }

      &* {
        width:100%;
      }
    }
  }
}
